<a href="/" class="btn btn-secondary mt-4 mb-4">Home</a>
<form action="/addfact/{{id}}" method="post">
<div>
    <textarea name="funfact" id="" cols="30" rows="10"></textarea>
</div>
<button class="btn btn-success" type="submit">
Submit
</button>
</form>

